<!DOCTYPE html> 
<html lang="en"> 
<head> 
	<meta charset="utf-8"> 
	<meta content="yes" name="apple-mobile-web-app-capable"> 
	<meta content="yes" name="apple-touch-fullscreen"> 
	<meta content="telephone=no,email=no" name="format-detection"> 
	<link rel="apple-touch-icon" href="favicon.png"> 
	<link rel="Shortcut Icon" href="favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="./build/css/trc_mobile.css">
	<script src="/js/flexible.js"></script>
	<title>trc mobile page</title> 
</head> 
<body>
	<div class="main">
		<div class="scoreCard">
			<div class="score">
				<div class="currentScore">
					<div class="score_text">
						<div class="title">当前分值</div>
						<div class="number">607</div>
					</div>
				</div>
				<div class="animation">vivbjk</div>
				<div class="nextScore">
					<div class="score_text">
						<div class="title">下一档位分值</div>
						<div class="number">650</div>
					</div>
				</div>
			</div>
			<div class="score_statement">培养信用习惯，完善信用信息，可提升加分概率</div>
		</div>
		<div class="container">
			<div class="itemWrapper">
				<div class="container1">
					<div class="item_perInfo">
						<div class="itemImageWrapper">
							<img src="" alt="">
						</div>
						<div class="itemDescription">
							<span class="otherInfo">待补充</span>
							<div class="icon_person_info3"></div>
							<p>个人信息补充</p>
						</div>
					</div>
					<div class="item_job">
						<div class="itemImageWrapper">
							<div class="icon_person_info3"></div>
						</div>
						<div class="itemDescription">
							<p>职业信息补充</p>
						</div>
					</div>
					<div class="item_com_email">
						<div class="itemImageWrapper">
							<div class="icon_mail"></div>
						</div>
						<div class="itemDescription">
							<p>企业邮箱认证</p>
						</div>
					</div>
				</div>

				<div class="container2">
					<div class="item_fund">
						<div class="itemImageWrapper">
							<div class="icon_thrown"></div>
						</div>
						<div class="itemDescription">
							<p>查看公积金</p>
						</div>
					</div>
					<div class="item_credit">
						<div class="itemImageWrapper">
							<div class="icon_money"></div>
						</div>
						<div class="itemDescription">
							<p>央行征信</p>
						</div>
					</div>
					<div class="item_edu">
						<div class="itemImageWrapper">
							<img src="" alt="">
						</div>
						<div class="itemDescription">
							<div class="icon_edu"></div>
							<p>学历认证</p>
						</div>
					</div>
					<div class="icon_mail"></div>
				</div>
			</div>
			<div class="tips">
				<div class="tips_head">
					<div class="icon_tips"></div>
					<p>温馨提示</p>
				</div>		
				<div class="tips_main">
					<p>培养良好的消费习惯，提升生活品质</p>
					<p>躲在泰然城投资理财，提升财富品质</p>
				</div>
			</div>
		</div>
		<div class="footer">
			<img src="" alt="">
		</div>	
	</div> 
</body> 
</html>

<script src="/build/bundle.js"></script> 
<script src="http://192.168.1.162:8080/target/target-script-min.js#anonymous"></script>